<div class="modal fade" id="staticBackdrop" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 font-weight-bold text-primary" id="staticBackdropLabel">Informações do Cliente</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="ccol-sm-3" style="width: 9rem;">
                            <p>Código:</p>
                        </div>
                        <div class="col-sm-6">
                            <p><b id="codCli"></b></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="width: 9rem;">
                            <p>Nome Fantasia:</p>
                        </div>
                        <div class="col-sm-6">
                            <p><b id="NomFantCli"></b></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="width: 9rem;">
                            <p>Complemento:</p>
                        </div>
                        <div class="col-sm-6">
                            <p><b></b></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="width: 9rem;">
                            <p>Bairro:</p>
                        </div>
                        <div class="col-sm-6">
                            <p><b>CENTRO</b></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="width: 9rem;">
                            <p>UF:</p>
                        </div>
                        <div class="col-sm-6">
                            <p><b id="UfCli"></b></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="width: 9rem;">
                            <p>Telefone(1):</p>
                        </div>
                        <div class="col-sm-6">
                            <p><b id="Contato"></b></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="width: 9rem;">
                            <p>Telefone(2):</p>
                        </div>
                        <div class="col-sm-6">
                            <p><b id="Contato2"></b></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="width: 9rem;">
                            <p>Fax:</p>
                        </div>
                        <div class="col-sm-6">
                            <p><b id="FaxCli"></b></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="width: 9rem;">
                            <p>CNPJ/CPF:</p>
                        </div>
                        <div class="col-sm-6">
                            <p><b id="Cgccpf"></b></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="width: 9rem;">
                            <p>Nome:</p>
                        </div>
                        <div class="col-sm-6">
                            <p><b id="NomCli"></b></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="width: 9rem;">
                            <p>Endereço:</p>
                        </div>
                        <div class="col-sm-6">
                            <p><b id="Endereço"></b></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="width: 9rem;">
                            <p>CEP:</p>
                        </div>
                        <div class="col-sm-6">
                            <p><b id="CepCli"></b></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="width: 9rem;">
                            <p>Cidade:</p>
                        </div>
                        <div class="col-sm-6">
                            <p><b id="Cidade"></b></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" style="width: 9rem;">
                            <p>Email:</p>
                        </div>
                        <div class="col-sm-6">
                            <p><b id="EmailCli"></b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

