<form class="row gx-3 gy-2 align-items-center mb-4">
    <div class="col-sm-5">
        <label class="visually-hidden" for="specificSizeInputName">Pesquisar Clientes</label>
        <input type="text" maxlength="14" id="searchbar" class="form-control" placeholder="Digite o Nome do Cliente">

        <select name="" id="category" class="form-control" style="visibility: hidden">
            <option value="0">Selecionar</option>
            <option value="1" selected hidden>Nome</option>
        </select>
    </div>
</form>