@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: 'Noto Sans',sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #858796;
  text-align: left;
  background-color: #fcfcfc;
}

.titulo-card {
    color: #232225;
}

.titulo-card{
  color: #232225;
}

.corelementos{
  background: #232225;
  color: #fff;
}

.btn:hover{
  background-color: #424142;
  color: #ffffff;
}

.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

.dropdown-container #pedido_itens:hover{
  color: #424142;
  background-color: #FFF;
  transition: all 0.4s ease;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.list-group .dropdown-container a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #FFF;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  padding: 1rem;
}
.dropdown-btn:hover{
  background-color: #f8f9fa;
  color:#495057;
  transition: all 0.4s ease;
}

/*ESTILO DOS CARDS */
.sidebar-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.875rem;
  border-radius: 0.35rem;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.sidebar-card .sidebar-card-illustration {
  height: 6rem;
  display: block;
}

.sidebar-card .sidebar-card-title {
  font-weight: bold;
}

.sidebar-card p {
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.5);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem;
  
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #f8f9fc;
  border-bottom: 1px solid #e3e6f0;
}

.card-header:first-child {
  border-radius: calc(0.35rem - 1px) calc(0.35rem - 1px) 0 0;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.border-left-primary {
  background: rgb(0,84,180);
  background: linear-gradient(159deg, rgba(0,84,180,1) 0%, rgba(64,224,208,1) 100%);
  color: #fff;
}

.border-bottom-primary {
  border-bottom: 0.25rem solid #4e73df !important;
}

.border-left-secondary {
  border-left: 0.25rem solid #858796 !important;
}

.border-bottom-secondary {
  border-bottom: 0.25rem solid #858796 !important;
}

.border-left-success {
  background: rgb(46,139,87);
  background: linear-gradient(159deg, rgba(46,139,87,1) 0%, rgba(64,224,208,1) 100%);
  color: #fff;
}

.border-bottom-success {
  border-bottom: 0.25rem solid #1cc88a !important;
}

.border-left-info {
  background-color: #60dfcd;
  background-image: linear-gradient(315deg, #60dfcd 0%, #1e9afe 74%);
  color: #fff;
}

.border-bottom-info {
  border-bottom: 0.25rem solid #36b9cc !important;
}

.border-left-warning {
  background-color: #ff9f00;
  background-image: linear-gradient(315deg, #ff9f00 0%, #ff6961 74%);
  color: #fff;
}

.border-bottom-warning {
  border-bottom: 0.25rem solid #f6c23e !important;
}

.border-left-danger {
  border-left: 0.25rem solid #e74a3b !important;
}

.border-bottom-danger {
  border-bottom: 0.25rem solid #e74a3b !important;
}

.border-left-light {
  border-left: 0.25rem solid #f8f9fc !important;
}

.border-bottom-light {
  border-bottom: 0.25rem solid #f8f9fc !important;
}

.info-card{
  background: #232225;
  color: #fff;
}

/*SCROLL PARA O TOPO DA TELA*/
html {
  scroll-behavior: smooth;
}

.back-to-top {
  bottom: 1em;
  opacity: 0.9;
  position: fixed;
  right: 1em;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 0.35rem;
  color: #fff;
  text-align: center;
  transition: opacity 200ms ease;
  z-index: 1;
  background: rgba(90, 92, 105, 0.5);
  line-height: 46px;
}

.back-to-top i {
  font-weight: 800;
}

.back-to-top:focus, .back-to-top:hover {
  color: white;
}

.back-to-top:hover {
  background: #5a5c69;
}

.at-top .back-to-top,
.at-bottom .back-to-top {
  opacity: 0;
  pointer-events: none;
}

/*MODAL INFO DE CLIENTES*/

.modal{
  transition: opacity 250ms 650ms ease;
}

/* FORM LANÇAR PEDIDO*/

.form-pedido {
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
@media (prefers-reduced-motion: reduce) {
  .form-pedido {
    transition: none;
  }
}
.form-pedido:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.form-pedido[multiple], .form-pedido[size]:not([size="1"]) {
  padding-right: 0.75rem;
  background-image: none;
}
.form-pedido:disabled {
  background-color: #e9ecef;
}
.form-pedido:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #212529;
}

/*campo de desconto no larncar_pedido*/
.form-desconto {
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
@media (prefers-reduced-motion: reduce) {
  .form-desconto {
    transition: none;
  }
}
.form-desconto:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.form-desconto:disabled {
  background-color: #e9ecef;
}
.form-desconto:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #212529;
}

.btn {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#button-logout{
    box-shadow:none;
}

.pedido-sucesso {
    text-align: center;
}
.drop-menu-item {
    margin-top: 0.05rem;
    margin-right: 0.5rem;
}

.drop-menu-item button {
    padding: 0;
    border: none;
    background-color: none;
    color: #858796;
    text-decoration: none;
    box-shadow: none;
}

.drop-menu-item button:hover {
    background-color: #fcfcfc;
    color: #212529;
}
