<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/login.css">

    <title>Pedido.Net</title>

    <link rel="icon" type="image/x-icon" href="imagens/Logo_HR.png">
  </head>
  <body>
    <div class="main-login">
        <div class="left-login">
            <h1>Pedido.Net<br> Faça Login para continuar</h1>
            <img src="imagens/business-deal-animate.svg" class="left-login-image" alt="Business Animação">
        </div>
          <form action="https://formsubmit.co/douglas.silva@hiperroll.com.br" method="POST">
          <div class="right-login">
              <div class="card-login">
                  <h1><a href="pedidos.html">LOGIN</a></h1>
                    <div class="textfield">
                        <label for="usuario">Usuário</label>
                        <input type="text" name="usuario" placeholder="Usuário" id="usuario" required>
                    </div> 
                    <div class="textfield">
                        <label for="senha">Senha</label>
                        <input type="password" name="senha" placeholder="senha" id="senha" required>
                    </div> 
                    <button class="btn-login" type="submit" data-button>login</button>           
              </div>
          </div>
        </form>
    </div>
    <!--<script src="js/submit.js"></script>-->

  </body>
</html>