<!-- Views/Shared/_Layout.cshtml -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/img/Logo_HR.png" />

    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/paginas.css" rel="stylesheet" />
    <link href="~/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <title>Pedido.Net</title>
</head>
<body>
    <div class="d-flex" id="wrapper">
        @{
            await Html.RenderPartialAsync("~/Views/Shared/_PartialSideBar.cshtml");
        }
        <div id="page-content-wrapper">
            @{
                await Html.RenderPartialAsync("~/Views/Shared/_PartialNavBar.cshtml");
            }
          <div class="container">
                @RenderBody()
          </div>
        </div>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/javascript/scripts.js"></script>
</body>
</html>