<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <header>
        <h1>Meu Site</h1>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <p>&copy; 2025 - PedidoNet</p>
    </footer>
</body>
</html>