@using System.Security.Claims
@using System.IdentityModel.Tokens.Jwt

<div class="border-end corelementos" id="sidebar-wrapper">
    <div class="sidebar-heading corelementos"><a href="#!" style="text-decoration: none; color: inherit;"><dt> Pedido.Net</dt></a></div>
    <div class="list-group list-group-flush">
        <a href="@Url.RouteUrl("pedidos", new { user = User.FindFirstValue(JwtRegisteredClaimNames.Name) })"
           class="list-group-item list-group-item-action corelementos p-3 text-gray-200">
            <i class="fas fa-search"></i>
            Consulta Pedidos
        </a>

        <button class="dropdown-btn">
            <i class="fas fa-shopping-cart text-gray-200"></i> Pedidos
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <!--<a href="#" id="pedido_itens">Pré-Pedido</a>-->
            <a href="@Url.RouteUrl("createpedido")" id="pedido_itens">Lançar Pedido</a>
            <!--<a href="#" id ="pedido_itens" > Listar Pedidos</a>-->
        </div>
        <a href="@Url.RouteUrl("clientes", new { user = User.FindFirstValue(JwtRegisteredClaimNames.Name) })"
           class="list-group-item list-group-item-action corelementos p-3 text-gray-200">
            <i class="fas fa-address-book "></i>
            Clientes
        </a>

        <a href="@Url.RouteUrl("relcomissao", new { user = User.FindFirstValue(JwtRegisteredClaimNames.Name) })" class="list-group-item list-group-item-action corelementos p-3">
            <i class="fas fa-file-alt text-gray-200"></i> Relatório Comissões
        </a>

        <!-- Sidebar Empresa -->
        <div class="sidebar-card d-none d-lg-flex">
            <img class="sidebar-card-illustration mb-2" src="~/img/Logo_HR_side.png" alt="...">
        </div>
    </div>
</div>