
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Psicoterapia cognitivo comportamental, serviços de atendimento individual, terapia, e mais, com foco no bem-estar emocional.">
    <meta name="keywords" content="psicoterapia, cognitivo comportamental, terapia, atendimento psicológico, bem-estar, saúde mental, psicoterapeuta, psicologia, terapia de casal">
    <meta name="author" content="Dra Ana Angélica Silva">
    <title>Dra Ana Angélica Silva</title>
    <link rel="canonical" href="https://www.seusite.com">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="caminho/para/favicon.ico" type="image/x-icon">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Psicoterapeuta Cognitivo Comportamental">
    <meta property="og:description" content="Psicoterapia cognitivo comportamental com foco no seu bem-estar emocional.">
    <meta property="og:image" content="./img/profile.png">
    <meta property="og:url" content="https://www.seusite.com">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Psicoterapeuta Cognitivo Comportamental">
    <meta name="twitter:description" content="Psicoterapia cognitivo comportamental para melhorar sua saúde mental e bem-estar.">
    <meta name="twitter:image" content="./img/profile.png">
    <meta charset="UTF-8">
</head>
<body>
<header>
    <div class="container">
        <h1>Dra Ana Angélica Silva</h1>
        <h2>Psicoterapeuta Cognitivo Comportamental</h2>
        <nav>
            <a href="#about">Sobre</a>
            <a href="#services">Serviços</a>
            <a href="#contact">Contato</a>
            <a href="https://hotmart.com/pt-br/marketplace/produtos/superando-o-termino-dra-ana-angelica-ebook/B84217266J">E-Book</a>
        </nav>
    </div>
</header>
<section class="about" id="about">
    <div class="container">
        <h2>Sobre Ana Angélica</h2>
        <div class="content">
            <div class="text">
                <p>De Juiz de Fora para o mundo 🌍✨
                    Nascida e criada em Minas Gerais, sempre fui movida por sonhos grandes. Meu primeiro destino foi o Rio de Janeiro, onde segui meu coração e me formei em Psicologia pela faculdade Santa Úrsula. Foi lá que minha jornada clínica começou, ajudando e cuidando de cada paciente com dedicação.
                    Mas eu queria mais! Decidi dar mais um passo na minha carreira e segui rumo à Argentina, o berço da psicologia, para conquistar meu doutorado. Assim como Harvard é para o Direito, a Argentina é para a Psicologia — eu queria beber direto da fonte! 🧠 Durante esse período, me aprofundei nas melhores técnicas e testes para poder oferecer o melhor aos meus pacientes.
                    Depois de concluir essa etapa, outro grande sonho bateu à porta: imigrar para os Estados Unidos. Sim, eu também fui imigrante e sei exatamente o que você enfrenta. Durante meus 6 anos nos EUA, aperfeiçoei meu inglês, ampliei meu conhecimento e até me aventurei em mais uma formação, desta vez em Psicologia da Teologia.
                    Hoje, com essa bagagem cheia de conhecimento, experiências e muito carinho pelos meus pacientes, estou aqui para ajudar você a superar seus desafios. <br>🌟                    
                    Vamos começar essa jornada juntos?
                </p>
            </div>
            <div class="image">
                <img src="./img/img-about.png" alt="Imagem de Psicoterapia">
            </div>
        </div>
    </div>
</section>
<section class="services" id="services">
    <div class="container">
        <h2>Serviços</h2>
        <div class="content">
            <div class="text">
                <h3>Ofereço uma variedade de serviços terapêuticos para atender às suas necessidades individuais:</h3><br>
                <ul>
                    <li><strong>Terapia Cognitivo-Comportamental Individual:</strong> Sessões focadas em questões específicas como ansiedade, depressão e stress.</li>
                    <li><strong>Terapia de Casal:</strong> Aconselhamento para casais que desejam melhorar a comunicação e lidar com conflitos.</li>
                    <li><strong>Terapia para Grupos:</strong> Sessões para trabalhar dinâmicas de grupo e problemas comuns em contextos sociais.</li>
                </ul>
            </div>
            <div class="image">
                <img src="./img/services.png" alt="Imagem de Serviços">
            </div>
        </div>
    </div>
</section>
<section class="image-gallery" id="image-gallery">
    <div class="gallery-container">
        <h2 class="gallery-title">Citações</h2>
        <div class="image-grid">
            <div class="image-card">
                <img src="./img/post_01.png" alt="Imagem 1">
            </div>
            <div class="image-card">
                <img src="./img/post_02.png" alt="Imagem 2">
            </div>
            <div class="image-card">
                <img src="./img/post_03.png" alt="Imagem 3">
            </div>
            <div class="image-card">
                <img src="./img/post_04.png" alt="Imagem 4">
            </div>
            <div class="image-card">
                <img src="./img/post_05.png" alt="Imagem 5">
            </div>
            <div class="image-card">
                <img src="./img/post_06.png" alt="Imagem 6">
            </div>
            <div class="image-card">
                <img src="./img/post_07.png" alt="Imagem 7">
            </div>
        </div>        
    </div>
</section>

<section class="contact" id="contact">
    <div class="container">
        <h2>Contato</h2><br>
        <p>Preencha o formulário abaixo para agendar uma consulta ou obter mais informações.</p>
        <form>
            <input type="text" name="name" placeholder="Seu nome" required>
            <input type="email" name="email" placeholder="Seu e-mail" required>
            <textarea name="message" rows="5" placeholder="Mensagem..." required></textarea>
            <button type="submit">Enviar</button>
        </form><br>
        <div class="social-media">
            <a href="https://api.whatsapp.com/send?phone=5532998626588" target="_blank">
                <img src="./img/whatsapp_2504845.png" alt="LinkedIn">
            </a>
            <a href="https://www.instagram.com/anaangelicapsicologa" target="_blank">
                <img src="./img/instagram_4494488.png" alt="Instagram">
            </a>
            <a href="https://www.facebook.com/anaangelica.psicologa?mibextid=LQQJ4d" target="_blank">
                <img src="./img/facebook_11378948.png" alt="Facebook">
            </a>
            <a href="https://www.tiktok.com/anaangelicapsicol" target="_blank">
                <img src="./img/tiktok-icon-free-png.webp" alt="Tiktok">
            </a>
            <a href="mailto:assessoriadraanaangelica@gmail.com" target="_blank">
                <img src="./img/email.png" alt="Twitter">
            </a>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <p>&copy; Todos os direitos reservados.</p>
    </div>
</footer>
<script src="./javascript/script.js"></script>
</body>
</html>

