<button id="send-data" type="submit" class="btn corelementos">Enviar Pedido</button>
<input readonly id="numppd" type="hidden" class="form-control" name="numPpd" value=@Model.NumPpd />
<input readonly id="codCli" type="hidden" class="form-control" name="CodCli" value=@Model.Cliente.CodCli />