@using BackendApi.ViewModels
@model BuscaPedidoViewModel

<form asp-controller="Pedido" asp-action="BuscaPedidoPorClienteAsync" method="POST" class="row gx-3 gy-2 align-items-center">
    <div class="col-sm-3">
        <label asp-for="Cliente" class="visually-hidden">Cliente</label>
        <input asp-for="Cliente" class="form-control" placeholder="Cliente" />
    </div>

    <div class="col-auto">
        <button type="submit" class="btn corelementos" >Buscar</button>
    </div>
</form>
<br />