<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Pedido.Net</title>

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/img/Logo_HR.png" />

    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/paginas.css rel="stylesheet" />
    <link href="~/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

</head>