<div class="border-end corelementos" id="sidebar-wrapper">
    <div class="sidebar-heading corelementos">
        <a href="pedidos.html" style="text-decoration: none; color: inherit;">
            <dt> Pedido.Net</dt></a>
    </div>
    <div class="list-group list-group-flush">
        <a href="@Url.RouteUrl("pedidos", new { codrep = Model.Representante.CodRep })"
           class="list-group-item list-group-item-action corelementos p-3 fas fas fa-list-alt text-gray-200">
            Pedidos
        </a>

        <button disable class="dropdown-btn" disabled>
            <i class="fas fa-shopping-cart text-gray-200"></i> Pedidos
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="#" id="pedido_itens">Pré-Pedido</a>
            <a href="lancar_pedidos.html" id="pedido_itens">Lançar Pedido</a>
            <a href="#" id="pedido_itens">Listar Pedidos</a>
        </div>
        <a href="@Url.RouteUrl("clientes", new { codrep = Model.Representante.CodRep })"
           class="list-group-item list-group-item-action corelementos p-3 fas fa-address-book text-gray-200">
            Clientes
        </a>

        <a class="list-group-item list-group-item-action corelementos p-3" href="#!">
            <i class="fas fa-file-alt text-gray-200"></i> Relatório Comissões
        </a>

        <!-- Sidebar Empresa -->
        <div class="sidebar-card d-none d-lg-flex">
            <img class="sidebar-card-illustration mb-2" src="~/img/Logo_HR_side.png" alt="...">
        </div>
    </div>
</div>