@model CreatePedidoViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="align-items-center justify-content-between mb-4 mt-5">
    <h1 class="h3 mb-0 text-gray-800 text-center">Lançar Pedidos</h1>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold titulo-card">Representante</h6>
    </div>
    <div class="card-body">
        <form action="">
            <div class="row mb-5">
                <div class="col-sm-5">
                    Representante: <b class="titulo-card">@Model.Representante.NomRep</b>
                </div>
                <div class="col">
                    Data: <b class="titulo-card">@DateTime.Now</b>
                </div>
                <div class="col">
                    Status: <b class="titulo-card">Não enviado</b>
                </div>
                <div class="col">
                    Pedido:
                    <b class="text-white"
                       style="
                            background-color: #198754;
                            border-radius: 0.9rem;
                            padding: 0.24rem;
                            ">78887</b>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col">
                    Faturamento:
                    <select class="form-pedido"
                            id="faturamentoSelect"
                            style="width: 8rem">
                        <option selected>Selecionar</option>
                        <option value="1">Aval</option>
                        <option value="2">Livre</option>
                        <option value="3">Promocional</option>
                    </select>
                </div>
                <div class="col">
                    Prazo de Pagamento:
                    <select class="form-pedido"
                            id="prazoPagamentoSelect"
                            style="width: 8rem">
                        <option selected>Selecionar</option>
                        <option value="1">Pagamento Antecipado</option>
                        <option value="2">15 DIAS</option>
                        <option value="3">28 DIAS</option>
                        <option value="3">35 DIAS</option>
                        <option value="3">45 DIAS</option>
                        <option value="3">021/028/035 DIAS</option>
                        <option value="3">028/035/042/049 DIAS</option>
                        <option value="3">INFORMAR CONDIÇÃO</option>
                        <option value="3">028/035/042 DIAS</option>
                        <option value="3">035/042/049 DIAS</option>
                        <option value="3">021/028/035/042</option>
                    </select>
                </div>
                <div class="col">
                    Retirar Pedido na Fábrica:
                    <select class="form-pedido"
                            id="retiradaSelect"
                            style="width: 8rem">
                        <option selected>Selecionar</option>
                        <option value="1">Sim</option>
                        <option value="2">Não</option>
                    </select>
                </div>

                <div class="col">
                    Necessidade Agendamento
                    <select class="form-pedido"
                            id="agendamentoSelect"
                            style="width: 8rem">
                        <option selected>Selecionar</option>
                        <option value="1">Sim</option>
                        <option value="2">Não</option>
                    </select>
                </div>
            </div>

            <div class="col-12">
                <button id="salvarDados" type="button" class="btn corelementos">Salvar</button>
                <button type="submit" class="btn corelementos">Enviar Pedido</button>
            </div>
        </form>
    </div>
</div>

<!-- CARD CONSULTAS DO CLIENTE-->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold titulo-card">
            Consulta Clientes
        </h6>
    </div>
    <div class="table-responsive">
        <div class="card-body">
            <form action="">
                <div class="row mb-2">
                    <div class="col">
                        <label class="visually-hidden" for="specificSizeInputName">Cliente</label>
                        <input type="text" class="form-control" id="specificSizeInputName" placeholder="Digite o Nome ou CPF" required />
                    </div>
                    <div class="col"><button type="submit" class="btn corelementos">Buscar</button></div>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr class="info-card">
                            <th scope="col">Nome</th>
                            <th scope="col">CNPJ/CPF</th>
                            <th scope="col">Endereço</th>
                            <th scope="col">Telefone</th>
                            <th scope="col">Adicionar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">MARIA GLAICE DE VASCONCELOS MARTINS</th>
                            <td>26.135.834/0001-06</td>
                            <td>RUA CORONEL JOSE LIBANIO,365</td>
                            <td>
                                (85)3345-1474
                            </td>
                            <td><button type="button" class="btn corelementos"><i class="fa fa-plus"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>

<!-- CARD DADOS DO CLIENTE-->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold titulo-card">Cliente</h6>
    </div>
    <div class="card-body">
        <form action="">
            <div class="row mb-5">
                <div class="col">
                    Razão Social: <b class="titulo-card">MARIA GLAICE DE VASCONCELOS MARTINS</b>
                </div>
                <div class="col">
                    Denominação: <b class="titulo-card">G&T REPRESENTACOES E EMBALAGENS</b>
                </div>
                <div class="col">
                    CNPJ/CPF: <b class="titulo-card">26.135.834/0001-06</b>
                </div>
                <div class="col">
                    Cidade: <b class="titulo-card">PACATUBA</b>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col">
                    Bairro: <b class="titulo-card">CENTRO</b>
                </div>
                <div class="col">
                    CEP: <b class="titulo-card">61.801-250</b>
                </div>
                <div class="col">
                    Endereço/N°: <b class="titulo-card">RUA CORONEL JOSE LIBANIO,365</b>
                </div>
                <div class="col">
                    Estado: <b class="titulo-card">CE</b>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col">
                    Insc.Est: <b class="titulo-card">065425723</b>
                </div>
                <div class="col">
                    Telefone: <b class="titulo-card">(85)3345-1474</b>
                </div>
                <div class="col">
                    Email: <b class="titulo-card">santostchesco@gmail.com</b>
                </div>
                <div class="col">
                    Fax: <b class="titulo-card"></b>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col">
                    Desconto:
                    <label class="visually-hidden" for="inputDesconto">Desconto</label>
                    <input type="text"
                           class="form-desconto"
                           id="inputDesconto"
                           placeholder="0,00%"
                           style="width: 6rem" />
                    <select class="form-pedido"
                            id="seletorDesconto"
                            style="width: 6rem" disabled>
                        <option selected>Selecionar</option>
                        <option value="1">Nota Fiscal</option>
                        <option value="2">Boleto</option>
                    </select>
                </div>
                <div class="col">
                    N° Pedido Cliente:
                    <label class="visually-hidden" for="specificSizeInputName">Desconto</label>
                    <input type="text"
                           class="form-desconto"
                           id="specificSizeInputName"
                           placeholder=""
                           style="width: 7rem" />
                </div>
                <div class="col">
                    Entrega:
                    <select class="form-pedido"
                            id="specificSizeSelect"
                            style="width: 8rem">
                        <option selected>Selecionar</option>
                        <option value="1">Imediata</option>
                        <option value="2">Programada</option>
                    </select>
                </div>
                <div class="col">
                    Data Prog. Fat.:
                    <label class="visually-hidden" for="specificSizeInputName">Data Programada Faturamento</label>
                    <input type="date"
                           class="form-desconto"
                           id="specificSizeInputName"
                           placeholder=""
                           style="width: 11rem" />
                </div>
            </div>
            <div class="row mb-5">
                <div class="col">
                    Natureza da Venda:
                    <select class="form-pedido"
                            id="specificSizeSelect"
                            style="width: 8rem">
                        <option selected>Selecionar</option>
                        <option value="1">Imediata</option>
                        <option value="2">Programada</option>
                    </select>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col">
                    Observação:
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- CARD CONTULTAS DO PRODUTO-->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold titulo-card">
            Consulta Produtos
        </h6>
    </div>
    <div class="table-responsive">
        <div class="card-body">
            <form action="">
                <div class="row mb-2">
                    <div class="col">
                        <label class="visually-hidden" for="specificSizeInputName">Produtos</label>
                        <input type="text" class="form-control" id="specificSizeInputName" placeholder="Digite o Código do Produto" required />
                    </div>
                    <div class="col"><button type="button" class="btn corelementos">Buscar</button></div>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr class="info-card">
                            <th scope="col">Código</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Quantidade</th>
                            <th scope="col">Preço Unit.:</th>
                            <th scope="col">Adicionar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">P-07826</th>
                            <td>SACOLA IMP BRANCA OXI 50X60 FD/1000 SMART CASA ROHR</td>
                            <td>
                                <label class="visually-hidden" for="specificSizeInputName">Produtos</label>
                                <input type="text" class="form-control" id="specificSizeInputName" placeholder="Quantidade" required />
                            </td>
                            <td>
                                <label class="visually-hidden" for="specificSizeInputName">Produtos</label>
                                <input type="text" class="form-control" id="specificSizeInputName" placeholder="Preço Unit.:" required />
                            </td>
                            <td><button type="button" class="btn corelementos"><i class="fa fa-plus"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>

    <!-- CARD DADOS DO PRODUTO-->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold titulo-card">
                Produtos do Pedido
            </h6>
        </div>
        <div class="table-responsive">
            <div class="card-body">
                <p class="text-center">Valor total do pedido:R$0,00</p>
                <table class="table table-striped">
                    <thead>
                        <tr class="info-card">
                            <th scope="col">Código</th>
                            <th scope="col">Quantidade</th>
                            <th scope="col">Unidade</th>
                            <th scope="col">Produto</th>
                            <th scope="col">Preço Unit. (R$)</th>
                            <th scope="col">Total (R$)</th>
                            <th scope="col">Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">P-07826</th>
                            <td>150</td>
                            <td>FRD</td>
                            <td>
                                SACOLA IMP BRANCA OXI 50X60 FD 1000 SMART CASA ROHR
                            </td>
                            <td>R$132,60</td>
                            <td>R$19.890,00</td>
                            <td>R$12.540,00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<a class="back-to-top" href="#"><i class="fas fa-angle-up"></i></a>
</div>
<script src="~/javascript/saveOnLocalStorage.js"></script>
</div>
<div id="overlay" style="
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
"></div>