@model BackendApi.ViewModels.UsuarioViewModel

<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/login.css">
    <title>Pedido.Net</title>
    <link rel="icon" type="image/x-icon" href="img/Logo_HR.png">
</head>
<body>
    <div class="main-login">
        <div class="left-login">
            <h1>Pedido.Net<br> Faça Login para continuar</h1>
            <img src="img/business-deal-animate.svg" class="left-login-image" alt="Business Animação">
        </div>
        <form asp-controller="Account" asp-action="Login" method="POST">
            <div class="right-login">
                <div class="card-login">
                    <h1>LOGIN</h1>
                    <div class="textfield">
                        <label for="Username">Usuário</label>
                        <input asp-for="Username" name="Username" placeholder="Usuário" type="text" id="usuario" required>
                    </div>
                    <div class="textfield">
                        <label for="Password">Senha</label>
                        <input asp-for="Password" name="Password" placeholder="senha" type="password" id="senha" required>
                    </div>
                    <button class="btn-login" type="submit">login</button>
                </div>
            </div>
        </form>
    </div>
    <!--<script src="js/submit.js"></script>-->
</body>
</html>