@using BackendApi.ViewModels
@model UserViewModel

<!doctype html>
<html lang="pt-br">
    @{
         await Html.RenderPartialAsync("_HeadPartialLogin");
    }

    <body>
        <div class="main-login">
            <div class="left-login">
                <h1>Pedido.Net<br />Faça Login para continuar</h1>
                <img src="~/img/business-deal-animate.svg" class="left-login-image" alt="Business Animação" />
            </div>

             <form asp-route="post" method="POST">
                <div class="right-login">
                    <div class="card-login">
                        <h1>LOGIN</h1>

                        <div class="textfield">
                            <label asp-for="Username"></label>
                            <input asp-for="Username" class="form-control" placeholder="Usuário" required />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>

                        <div class="textfield">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" placeholder="Senha" type="password" required />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="textfield">
                                <label asp-for="Segment">Selecione a Empresa</label>
                                <select asp-for="Segment" id="empresa">
                                <option value="Plastico">Plástico</option>
                                <option value="Papel">Papel</option>
                            </select>
                        </div>

                        <button type="submit" class="btn-login" data-button>Login</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>